@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* why section styling starts here */
.why-section {
  margin-top: 50px;
}
.why-intro {
  color: #280059;
  font-weight: 700;
  margin-bottom: 40px;
  font-family: "Quicksand", system-ui;
}
.why-card {
  padding: 20px;
  width: 80% !important;
  width: 100% !important;
  height: 100% !important;
}
.why-card-title {
  margin-top: 20px;
  color: #fff !important;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 30px !important;
  font-family: "Quicksand", system-ui;
}
.why-card-text {
  color: #fff;
  font-weight: 600;
  font-family: "Quicksand", system-ui;
}
.first {
  background-color: #00117c !important;
}
.second {
  background-color: #105e96 !important;
}
.third {
  background-color: #292828 !important;
}

/* Get started styling starts here */
.started-section {
  margin-top: 100px;
  background-color: #3d2ca1 !important;
}
.started-intro {
  margin-top: 50px !important;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  font-family: "Quicksand", system-ui;
}
.started-text {
  margin-top: 30px !important;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Quicksand", system-ui;
}
.started-btn a {
    background-color: #fff;
    color: #0D0059;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    font-family: "Quicksand", system-ui !important;
  
}

 /* media queries */
  

 @media screen and (max-width: 768px){
  .started-section {
      background-color: #08426b;
      width: 100%;
      height: 100%;
    }
    .started-intro {
      margin-top: 10px;
      color: #fff;
      font-weight: 700;
      font-size: 2rem;
      font-family: "Quicksand", system-ui;
    }
    .started-text {
      margin-top: 10px;
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
      font-family: "Quicksand", system-ui;
    }
    .started-btn {
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      background-color: #1ca1fe;
      padding: 10px 15px;
      border-radius: 20px;
      font-family: "Quicksand", system-ui;
    }
}
.started-section img{
  width: 100%;
  height: 100%;
}
/* for 300px to 690px */
@media screen and (min-width: 300px) and (max-width: 690px){
  .started-section {
     display: none;
}

}

